<div id="<%= dom_id message %>">

  <p>
    <strong>User:</strong>
    <%= message.user.email %>
  </p>

  <p>
    <strong>Message:</strong>
     <%= simple_format(message.body) %>
  </p>


  <%= button_to "Like", [:upvote, @inbox, message],
          method: :patch,
          data: {turbo: "false"} %>
          
  <%= message.cached_votes_total %>
  

  

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete %>

</div>
