<div id="<%= dom_id message %>">
  <p>
    <strong>Body:</strong>
    <%= simple_format(message.body) %>
  </p>

  <p>
    <strong>Inbox:</strong>
    <%= link_to message.inbox.name, message.inbox %>
  </p>

  <%= button_to "Like", [:upvote, @inbox, message],
          method: :patch,
          data: {turbo: "false"} %>
  <%= message.votes_for.size %>

  <p>
    <strong>User:</strong>
    <%= message.user.email %>
  </p>

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete %>

</div>
