<div id="<%= dom_id inbox %>" >
  <h3>
    <%= link_to inbox.name.capitalize, inbox %>
  </h3>

  Messages:
  <%= inbox.messages_count %>
  <p>
  
  </p>
  <h4>
  Ğ¡reated by:
  <%= inbox.user.email %>
  Date:
  <%= inbox.created_at.strftime("%d.%b.%Y %H:%M")%>
  </h4>

</div>
