<%= render @inbox %>

<div>
  <%= link_to "Edit", edit_inbox_path(@inbox) if policy(@inbox).edit? %>
  <%= button_to "Destroy", @inbox, method: :delete if policy(@inbox).destroy? %>

  <%= link_to "Back", inboxes_path %>
</div>

 <hr>
 
 <h2>
 Messages
 <%= @inbox.messages_count %>
 </h2>
<%= link_to "New Message", [:new, @inbox, :message] %>
<%= render partial: 'inboxes/messages/message', collection: @inbox.messages %>